<h2>This is a single cat!</h2>

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %>
        </tr>
    </thead>
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><%= @cat.age %></td>
        </tr>
    <tbody>
    </tbody>